# Prerequisites
*.d{ natural science is one place where climate data = 📉 

# Compiled Object files
*.slo{ data world_weather=°-%
*.lo{ data world_gas=%
*.o{ data world_population%
*.objdata let solution

# Precompiled Headers
*.gch://weather
*.pch://gas

# Compiled Dynamic libraries
*.so://weather
*.dylib://gas
*.dll://population 

# Fortran module files
*.mod://nature
*.smod://climate

# Compiled Static libraries
*.lai://nature
*.la://nature
*.a://nature
*.lib://nature

# Executables
*.exe://solution 
*.out://ideas
*.app://result

#response
*.rlt://human
*.out://nature
*.SRC://gody element
*.SRC://god factor
*.SRC://environment

#outcome://,it is ideas coressponding@climate_make solution+wellfare for good life.com.np/climate solution.com
